*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/java/com/deakishin/cipherworld/model/ciphermanager
/app/src/main/java/com/deakishin/cipherworld/model/ciphergenerator
/app/src/main/assets/ciphers.json
/app/src/main/assets/ciphers_2.json
